*{
    margin: 0;
    padding: 0;
}

nav{

    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: space-between;
    justify-content: space-evenly;
    padding: 20px;
}
        nav div ul{
        display: flex;
        
        }

            nav div ul li{
            color: rgb(161, 161, 162);
                list-style: none;
                margin: 15px;
            }


.botones{
    margin-top: 15px;
}        

nav div a{
    background-color: rgb(129, 129, 129);
    text-decoration: none;
    color: #fff;
    padding: 12px;
}

