*{
    margin: 0;
    padding: 0;
}

img{
    width: 300px;
}

section{
    width: 100%;
    display: flex;
    height: 1000px;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
    
}
